@model SME_WEB_ApiManagement.Models.ViewSystemApiModels
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "System API";
    var vDdlSystem = ViewBag.vDdlSystem;
    var EmployeeId = ViewBag.EmployeeId;

    var EmployeeRole = ViewBag.EmployeeRole;
}

<form method="post" asp-action="SysMasterAPIConnectInbound" asp-controller="SysMasterAPI">
    <div class="wrap-all-content">
        <div class="card">
            <div class="card-body">
                <h1>รายละเอียด API</h1>
                <div id="Batch">
                    <div class="content_body">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <!-- Owner System -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>Owner sys. :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select asp-for="TSystemAPI.OwnerSystemCode" asp-items="vDdlSystem" class="form-control">
                                            <option value="">-- กรุณาเลือก --</option>
                                        </select>
                                    </div>
                                </div>
                              
                                <!-- URL-Path-Prod -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>URL-Path-Prod :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" asp-for="TSystemAPI.ApiUrlProdInbound" value="@Model.MSystemInfo.ApiUrlProdInbound" />
                                    </div>
                                </div>
                                <!-- URL-Path-UAT -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>URL-Path-UAT :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" asp-for="TSystemAPI.ApiUrlUatInbound" value="@Model.MSystemInfo.ApiUrlUatInbound" />
                                    </div>
                                </div>
                                <!-- UserName -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>UserName :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" asp-for="TSystemAPI.ApiUser" value="@Model.MSystemInfo.ApiUser" />
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>Password :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" asp-for="TSystemAPI.ApiPassword" value="@Model.MSystemInfo.ApiPassword" />
                                    </div>
                                </div>
                                <!-- Note -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>รายละเอียด : </label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control" asp-for="TSystemAPI.ApiNote" placeholder="กรุณาระบุ" value="@Model.MSystemInfo.Note"></textarea>
                                    </div>
                                </div>
                                <!-- Active -->
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label>สถานะ : </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="checkbox" class="form-check-input" asp-for="TSystemAPI.FlagActive" />
                                        <label class="form-check-label" for="TSystemAPI_FlagActive">เปิดใช้งาน</label>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="TSystemAPI.Id" />
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="content_table">
                        <div class="header_content d-flex justify-content-between align-items-center">
                            <h6>รายการ API </h6>
                            @if (EmployeeRole=="SUPERADMIN")
                            {
                                <button type="button" class="btn btn-primary" onclick="showCreateModal()">
                                    <span>+</span> เพิ่ม API
                                </button>
                            }
                           
                        </div>
                        <div class="line"></div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Method</th>
                                        <th style="width:20%;">Service Name</th>
                                        <th style ="width:60%;">End Point</thstyle>
                                        <th>สถานะ</th>
                                        @if (EmployeeRole == "SUPERADMIN") 
                                        {
                                            <th></th>
                                        }
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.LSysApi != null && Model.LSysApi.Count != 0)
                                    {
                                        int no = 1;
                                        foreach (var w in Model.LSysApi)
                                        {
                                            <tr>
                                                <td style="text-align:center;">@no</td>
                                                <td>@w.ApiMethod</td>
                                                <td>@w.ApiServiceName</td>
                                                <td>@w.EndPoint</td>
                                                <td>@(w.FlagActive ? "ใช้งาน" : "ปิดการใช้งาน")</td>
                                                @if (EmployeeRole == "SUPERADMIN")
{
                                                    <td style="text-align:center;">
                                                        <button type="button" class="action-btn editbtn" data-id="@w.Id" title="Edit">
                                                            <i class="fa fa-pen-to-square" style="color: #34A5EB; cursor: pointer;"></i>
                                                        </button>
                                                        <button type="button" class="action-btn delete" onclick="showDeleteConfirm(@w.Id)" title="ลบ">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
}
                                               
                                            </tr>
                                            no++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center"><b>No Data</b></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @if (EmployeeRole == "SUPERADMIN")
            {
                <div class="text-center m-t-10">
                    <button class="btn btn_cancel">ยกเลิก</button>
                    <button type="button" class="btn btn_search text-color-botton m-r-10" id="saveData" value="saveData" name="saveData">บันทึก</button>
                  
                </div>
            }else
            {
              
                  <div class="text-center m-t-10">
             <a class="btn btn_search text-color-botton m-r-10" href="~/SysMasterAPI/SysMasterAPIInbound">กลับ</a>
                </div>
            }

          
        </div>
    </div>
</form>

<!-- Modal: Create/Edit API -->
<div class="modal fade" id="CreateApiModal" tabindex="-1" aria-labelledby="CreateApiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form method="post" asp-action="SysMasterAPIConnectInbound" asp-controller="SysMasterAPI">
                <div class="modal-header" style="background: #2580c2; color: #fff;">
                    <h5 class="modal-title w-100 text-center" id="CreateApiModalLabel">สร้าง/แก้ไข API</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="TSystemAPI.Id" id="TSystemAPI_Id_Modal" />
                    <div class="form-row mb-3 align-items-end">
                        <div class="form-group col-md-4">
                            <label>HTTP Method<span class="text-danger">*</span></label>
                            <select class="form-control" name="TSystemAPI.ApiMethod" id="TSystemAPI_ApiMethod_Modal">
                                <option value="">กรุณาระบุ</option>
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Service name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="TSystemAPI.ApiServiceName" id="TSystemAPI_ApiServiceName_Modal" placeholder="Ex. Employee" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Service Code<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="TSystemAPI.ApiServiceCode" id="TSystemAPI_ApiServiceCode_Modal" placeholder="Ex. Employee" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>End point<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="TSystemAPI.EndPoint" id="TSystemAPI_EndPoint_Modal" placeholder="Ex. www.xxx.com/getdata" />
                        </div>
                        <div class="form-group col-md-2 d-flex align-items-center" style="margin-top: 30px;">
                            <label class="mr-2 mb-0">สถานะ<span class="text-danger">*</span></label>
                            <input class="form-check-input mt-0" type="checkbox" name="TSystemAPI.FlagActive" value="true" id="apiActive" style="margin-left: 0.5rem;">
                            <label class="form-check-label ml-2 mb-0" for="apiActive">เปิดใช้งาน</label>
                        </div>
                    </div>
                    <!-- Request/Response Fields -->
                    <h6 class="mt-4 mb-2">Request Fields</h6>
                    <div class="table-responsive mb-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>FieldName</th>
                                    <th>FieldType</th>
                                    <th>Descriptions</th>
                                    <th>Example</th>
                                </tr>
                            </thead>
                            <tbody id="requestFieldsBody">
                                <tr>
                                    <td><input type="text" class="form-control" name="TSystemAPI.ApiRequestParamater" /></td>
                                    <td><input type="text" class="form-control" name="TSystemAPI.ApiRequestParamaterType" /></td>
                                    <td><textarea class="form-control" name="TSystemAPI.ApiRequestDescription" placeholder="กรุณาระบุ"></textarea></td>
                                    <td><textarea class="form-control" name="TSystemAPI.ApiRequestExample" placeholder="กรุณาระบุ"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h6 class="mt-4 mb-2">Response Fields</h6>
                    <div class="table-responsive mb-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>FieldName</th>
                                    <th>FieldType</th>
                                    <th>Descriptions</th>
                                    <th>Example</th>
                                </tr>
                            </thead>
                            <tbody id="responseFieldsBody">
                                <tr>
                                    <td><input type="text" class="form-control" name="TSystemAPI.ApiResponseParamater" /></td>
                                    <td><input type="text" class="form-control" name="TSystemAPI.ApiResponseParamaterType" /></td>
                                    <td><textarea class="form-control" name="TSystemAPI.ApiResponseDescription" placeholder="กรุณาระบุ"></textarea></td>
                                    <td><textarea class="form-control" name="TSystemAPI.ApiResponseExample" placeholder="กรุณาระบุ"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" asp-for="MSystemInfo.SystemCode" value="@Model.MSystemInfo.SystemCode" />
                    <input type="hidden" asp-for="TSystemAPI.OwnerSystemCode" value="@Model.MSystemInfo.SystemCode" />
                    <input type="hidden" asp-for="TSystemAPI.CreateBy" value="@EmployeeId" />
                    <input type="hidden" asp-for="TSystemAPI.UpdateBy" value="@EmployeeId" />
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="saveSubDataBtn" name="saveSubDataBtn" value="saveSubDataBtn">บันทึก</button>
                </div>
                <div class="modal fade" id="ConfirmSaveSubModal" tabindex="-1" aria-labelledby="ConfirmSaveSubModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ConfirmSaveSubModalLabel">ยืนยันการบันทึก</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>คุณต้องการบันทึกข้อมูล API นี้ใช่หรือไม่?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="confirmSaveSubBtn">ยืนยัน</button>
                                <button type="button" class="btn btn_cancel" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal: Confirm Delete -->
<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmDeleteModalLabel">ยืนยันการลบ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>คุณต้องการลบข้อมูลนี้ใช่หรือไม่?</p>
                <input type="hidden" id="deleteId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">ลบ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Confirm Save (main form) -->
<div class="modal fade" id="ConfirmSaveModal" tabindex="-1" aria-labelledby="ConfirmSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ConfirmSaveModalLabel">ยืนยันการบันทึก</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>คุณต้องการบันทึกข้อมูลนี้ใช่หรือไม่?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmSaveBtn">ยืนยัน</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let deleteId = null;

        function showDeleteConfirm(id) {
            deleteId = id;
            var modal = new bootstrap.Modal(document.getElementById('ConfirmDeleteModal'));
            modal.show();
        }

        window.showCreateModal = function() {
            document.getElementById('TSystemAPI_Id_Modal').value = '';
            document.getElementById('TSystemAPI_ApiMethod_Modal').value = '';
            document.getElementById('TSystemAPI_ApiServiceName_Modal').value = '';
            document.getElementById('TSystemAPI_ApiServiceCode_Modal').value = '';
            document.getElementById('TSystemAPI_EndPoint_Modal').value = '';
            document.getElementById('apiActive').checked = false;

            var myModal = new bootstrap.Modal(document.getElementById('CreateApiModal'));
            myModal.show();
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.editbtn').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var id = this.getAttribute('data-id');
                    fetch('/SysMasterAPI/GetApiDetail?id=' + id)
                        .then(response => response.json())
                        .then(data => {
                            if (data && data.id) {
                                document.getElementById('TSystemAPI_Id_Modal').value = data.id;
                                document.getElementById('TSystemAPI_ApiMethod_Modal').value = data.apiMethod;
                                document.getElementById('TSystemAPI_ApiServiceName_Modal').value = data.apiServiceName;
                                document.getElementById('TSystemAPI_ApiServiceCode_Modal').value = data.apiServiceCode;
                                document.getElementById('TSystemAPI_EndPoint_Modal').value = data.endPoint;
                                document.getElementById('apiActive').checked = data.flagActive;

                                // set other fields if needed

                                var myModal = new bootstrap.Modal(document.getElementById('CreateApiModal'));
                                myModal.show();
                            } else {
                                alert('ไม่พบข้อมูล');
                            }
                        })
                        .catch(() => alert('เกิดข้อผิดพลาด'));
                });
            });

  
            document.getElementById('confirmSaveBtn').addEventListener('click', function () {
                var form = document.getElementById('saveData').closest('form');
                var input = form.querySelector('input[name="saveData"]');
                if (input) input.remove();
                var hidden = document.createElement('input');
                hidden.type = 'hidden';
                hidden.name = 'saveData';
                hidden.value = 'saveData';
                form.appendChild(hidden);
                var modal = bootstrap.Modal.getInstance(document.getElementById('ConfirmSaveModal'));
                modal.hide();
                setTimeout(function () {
                    form.submit();
                }, 300);
            });

       

            document.getElementById('confirmSaveSubBtn').addEventListener('click', function () {
                var form = this.closest('form');
                var input = form.querySelector('input[name="saveSubData"]');
                if (input) input.remove();
                var hidden = document.createElement('input');
                hidden.type = 'hidden';
                hidden.name = 'saveSubData';
                hidden.value = 'saveSubData';
                form.appendChild(hidden);
                var modal = bootstrap.Modal.getInstance(document.getElementById('ConfirmSaveSubModal'));
                modal.hide();
                setTimeout(function () {
                    form.submit();
                }, 300);
            });

            document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
                if (!deleteId) return;
                fetch('@Url.Action("DeleteApiDetail", "SysMasterAPI")', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: 'id=' + encodeURIComponent(deleteId)
                })
                .then(response => response.json())
                .then(res => {
                    var modal = bootstrap.Modal.getInstance(document.getElementById('ConfirmDeleteModal'));
                    modal.hide();
                    if (res.success) {
                        alert('ลบข้อมูลสำเร็จ');
                        location.reload();
                    } else {
                        alert(res.message || 'เกิดข้อผิดพลาดในการลบข้อมูล');
                    }
                })
                .catch(() => alert('เกิดข้อผิดพลาดในการลบข้อมูล'));
            });
        });



        function validateMainForm() {
                   let isValid = true;
                   let messages = [];
                   const ownerSystem = document.querySelector('[name="TSystemAPI.OwnerSystemCode"]');
                   const urlProd = document.querySelector('[name="TSystemAPI.ApiUrlProdInbound"]');
                   const urlUat = document.querySelector('[name="TSystemAPI.ApiUrlUatInbound"]');
                   const apiUser = document.querySelector('[name="TSystemAPI.ApiUser"]');
                   const apiPassword = document.querySelector('[name="TSystemAPI.ApiPassword"]');

                   if (!ownerSystem.value.trim()) {
                       isValid = false;
                       messages.push('กรุณาเลือก Owner System');
                   }
                   if (!urlProd.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก URL-Path-Prod');
                   }
                   if (!urlUat.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก URL-Path-UAT');
                   }
                   if (!apiUser.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก UserName');
                   }
                   if (!apiPassword.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก Password');
                   }

                   if (!isValid) {
                       alert(messages.join('\n'));
                       return false;
                   }
                   return true;
               }

               function validateApiModal() {
                   let isValid = true;
                   let messages = [];
                   const apiMethod = document.getElementById('TSystemAPI_ApiMethod_Modal');
                   const apiServiceName = document.getElementById('TSystemAPI_ApiServiceName_Modal');
                   const apiServiceCode = document.getElementById('TSystemAPI_ApiServiceCode_Modal');
                   const endPoint = document.getElementById('TSystemAPI_EndPoint_Modal');

                   if (!apiMethod.value.trim()) {
                       isValid = false;
                       messages.push('กรุณาเลือก HTTP Method');
                   }
                   if (!apiServiceName.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก Service Name');
                   }
                   if (!apiServiceCode.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก Service Code');
                   }
                   if (!endPoint.value.trim()) {
                       isValid = false;
                       messages.push('กรุณากรอก End Point');
                   }

                   if (!isValid) {
                       alert(messages.join('\n'));
                       return false;
                   }
                   return true;
               }

               // เหลือแค่ 2 event listener นี้เท่านั้น!
               document.getElementById('saveData').addEventListener('click', function () {
                   if (!validateMainForm()) return;
                   var modal = new bootstrap.Modal(document.getElementById('ConfirmSaveModal'));
                   modal.show();
               });

               document.getElementById('saveSubDataBtn').addEventListener('click', function () {
                   if (!validateApiModal()) return;
                   var modal = new bootstrap.Modal(document.getElementById('ConfirmSaveSubModal'));
                   modal.show();
               });
    </script>
}